/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
:root {
  font-family: 'Baloo Chettan 2', cursive;
  background: url('./assets/img/y-so-serious-light.png');
}
